@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color:black;
  --fav-color: #8e27279c;

  --anchor-text-color: skyblue;
  --anchor-text-size: 1.2rem;
  --header-bg-color:rgb(214, 219, 220);
  --product-bg-color:rgb(214, 219, 220);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color:white;
    --header-bg-color:rgb(0, 0, 0);
  }
}

*{
  /* scrollbar-width: thin; */
  /* scrollbar-color: rgb(var(--foreground-rgb)) rgb(var(--background-end-rgb)); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.underlineeffect::after{

    content: '';
    display: block;
    color:green;
    background-color: var(--text-color);
    width: 0%;
    height: 1px;
    cursor: pointer;
    transition: .5s ;
  
}

.underlineeffect:hover::after{
  width: 100%;
}

.fa-filter{
  color: rgb(var(--foreground-rgb));
  /* color:rgba(255, 105, 180, 0.614); */
  color: #8e2727b8;

  cursor: pointer;
}

.loading{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap:16px;
  font-size: 1.5rem;
  /* color: #8e2727b8; */
  color:var(--text-color);
  margin-top: 130px;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.fa-bars{
  opacity: 0;
  display: none;
}
.fa-xmark{
  opacity: 0;
  display: none;
}


@media screen and (max-width:768px){
  .fa-bars{
    /* position: absolute; */
    opacity: 1;
  }
}

.active{
  /* display: block; */
  left: 0;
}