.header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 13vh;
    padding: 0 50px;
    box-shadow: 0 0 5px hsla(0, 0%, 20%, 0.714);
    margin-bottom: 32px;
    z-index:10;
    /* background-color: rgb(214, 219, 220); */
    background-color: var(--header-bg-color);
    flex-wrap: wrap;


}

.header_text h1 {
    font-size: 2rem;
}


.nav  {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-left: 50px;

}

.nav ul {
    display: flex;
    position: relative;
    width: 50%;
    justify-content: space-between;
    color: var(--text-color);
    
}

.navbar_right{
    display: flex;
    width: 33%;
    justify-content: space-between;
    position: relative;
    margin-bottom: 7px;
   
}


.searchbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 80%;
    gap: 16px;
}

.searchbar input {

    width: clamp(200px, 80%, 700px);
    outline-color: rgba(0, 0, 0, 0.588);
    padding: 7px 16px;
    border-radius: 5px;
    border: 1px solid #3333339c;
}

.searchbar button{
    width: clamp(100px, 20%, 150px);
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #8e27279c;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



.cart{

    position: absolute;
    top:0;
    right:0;

}




@media screen and (max-width: 768px) {
  
    .header{
        min-height: 19vh;
    }
    
    .nav{
        position:fixed;
        top:0;
        left:-100%;
        width: 40%;
        height: 100vh;
        background-color: var(--header-bg-color);
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 32px 16px;
        z-index: 10;
        transition: .5s;

    }

    .nav ul {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        justify-content: space-around;
        color: var(--text-color);
        
    }
    .navbar_right{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .cart{
        top:-100px;
        right:-100px;
    }

    .searchbar button{
      width: 200px;
      padding-inline: 16px;
    }
    


}
    