.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 75vh;
    width: 80%;
    margin:auto;
}

.main h2{
    font-size: 2rem;
    margin-block: 16px;
}

.image{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    /* justify-content: space-around; */
    gap:11%;
    padding-left: 5%;
    align-items: center;
    /* background-color: red; */
}

.image img{
    margin: 3%;
    padding:1%;
    transition: 0.5s;
    cursor: pointer;
}

.main img:hover{
    box-shadow: 0 0 5px #333;
}



.main p{
    /* align-self: flex-end; */
    width: 40%;
    font-size: 1.7rem;
    /* font-weight: 200; */

}

.cartbutton{
    width: 100%;
    margin-top: 16px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #8e27279c;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.checktextcolor{
    color: var(--text-color);
}


.rating{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: var(--fav-color);
  margin-bottom: 16px;
}

.stars{
     display: flex;
    gap: 5px;
    align-items: center;
   width:100%;
}